<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Apparelpro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Apparelpro" />
    <meta property="og:description" content="Apparelproでは、新人教育に必要なマニュアルと進捗管理グラフを提供し、円滑なコミュニケーションをサポートします" />
    <meta property="og:image" content="https://apparel-pro.onrender.com/assets/Apparelpro.jpg">
    <meta property="og:url" content="https://apparel-pro.onrender.com/" >

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://apparel-pro.onrender.com/assets/Apparelpro.jpg">
    <meta name="twitter:title" content="Apparelpro">
    <meta name="twitter:description" content="Apparelproでは、新人教育に必要なマニュアルと進捗管理グラフを提供し、円滑なコミュニケーションをサポートします">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>